<div class="row todo_item">
  <% if todo_item.completed? %>
    <p>
      <div class="todo_item">
        <strike style="opacity: 0.4;"><%= todo_item.content %></strike>
        <%= link_to "Mark as complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "R u sure?" } %>
      </div>
    </p>
  <% else %>
    <p>
      <div class="todo_item">
        <%= todo_item.content %>
        <%= link_to "Mark as complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "R u sure?" } %>
      </div>
    </p>
  <% end %>
</div>
